<template>
  <div id="app">
    <div class="b2g-outer-wrapper">
      <nav class="b2g-nav" id="nav">
        <ul class="b2g-nav-list">
          <li class="b2g-nav-list-item">
            <router-link to="/">Home</router-link>
          </li>
          <li class="b2g-nav-list-item">
            <router-link to="/pagebuilder">Page Editor</router-link>
          </li>
        </ul>
      </nav>
      <div class="b2g-inner-wrapper">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<style lang="scss">

@import '../../styles/main.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  #nav {
    padding: 30px;
    text-align: left;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
}
</style>
