<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      Kundendaten Verwaltung
    </p>
    <h3>Kunden hinzufügen</h3>
    <form class="ado-customer-add">
      <label for="c_fname">
        <input
          class="ado-input__text"
          id="c_fname"
          type="text"
          placeholder="Vorname"
          v-model="fname"
        />
      </label>
      <label for="c_lname">
        <input
          class="ado-input__text"
          id="c_lname" type="text"
          placeholder="Nachname"
          v-model="lname"
        />
      </label>
      <label for="c_company_name">
        <input
          class="ado-input__text"
          id="c_company_name"
          type="text"
          placeholder="Name"
          v-model="cname"
        />
      </label>
      <label for="c_company_address">
        <input
          class="ado-input__text"
          id="c_company_address"
          type="text"
          placeholder="Name"
          v-model="caddress"
        />
      </label>
    </form>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {
    msg: String,
  },
})
export default class HelloWorld extends Vue {
  msg!: string;

  fname!: string;

  lname!: string;

  cname!: string;

  caddress!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.ado-customer-add {
  display: block;
}
</style>
