$padding_smaller: 5px !default;
$padding_small: 20px !default;
$padding_big: 40px !default;
$padding_bigger: 80px !default;
$padding_normal: 10px !default;

$margin_smaller: 5px !default;
$margin_small: 20px !default;
$margin_big: 40px !default;
$margin_bigger: 80px !default;
$margin_normal: 10px !default;
