<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="jumbotron text-center">
            <h2>Welcome to Larafirebase</h2>
            <p>
              This is a simple laravel blog app with Google firebase.
              Choose your preference below to continue.
            </p>
            <p class="mt-5">
              <router-link to="/customer/add" class="btn btn-primary mr-3">
                <i class="sl sl-icon-plus"></i> New Post
              </router-link>
              <router-link to="/customers" class="btn btn-secondary">
                <i class="sl sl-icon-notebook"></i> All Posts
              </router-link>
            </p>
          </div>
          <div class="wrapper">
            <pre v-html="test"></pre>
          </div>
          <button @click="saveCustomer">Speichern</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';
import axios from 'axios';

export default class Home extends Vue {
  private test = null;

  private api = 'http://localhost:8000/api/test';

  saveCustomer() {
    const data = {
      name: 'Hallo',
      value: 'Welt',
    };
    axios.post(
      this.api,
      data,
    ).then((dataResponse) => {
      console.log(dataResponse);
    }).catch((error) => {
      console.log(error);
    });
  }
}
</script>
