* {
  font-family: "Droid Sans", "sans-serif";
  font-size: 14pt;
  color: #000000;
}

nav.b2g-nav {
  margin: 20px;
}
nav.b2g-nav ul.b2g-nav-list {
  display: inline-flex;
  list-style: none;
}
nav.b2g-nav ul.b2g-nav-list li.b2g-nav-list-item {
  padding: 40px;
}

footer.b2g-footer ul.b2g-footer-list {
  display: inline-flex;
  list-style: none;
}
footer.b2g-footer ul.b2g-footer-list li.b2g-footer-list-item {
  padding: 40px;
}

header.b2g-header {
  margin: 10px;
  padding: 10px;
}
header.b2g-header figure.b2g-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b2g-headline-wrapper {
  margin: 0 auto;
  max-width: 800px;
  min-width: 800px;
}

/*# sourceMappingURL=main.css.map */
