@import 'libs/normalize/normalize.scss';

@import 'helpers/mixins.scss';

@import 'vars/colors.scss';
@import 'vars/fonts.scss';
@import 'vars/spacings.scss';

// @include google-font($font-family);

* {
  font-family: $font-family, 'sans-serif';
  font-size: $font-size;
  color: $font-color;
}

nav.b2g-nav {
  margin: $margin-small;

  ul.b2g-nav-list {
    display: inline-flex;
    list-style: none;

    li.b2g-nav-list-item {
      padding: $padding-big;
    }
  }
}

footer.b2g-footer {
  ul.b2g-footer-list {
    display: inline-flex;
    list-style: none;

    li.b2g-footer-list-item {
      padding: $padding-big;
    }
  }
}

header.b2g-header {
  margin: $margin-normal;
  padding: $padding_normal;

  figure.b2g-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.b2g-headline-wrapper {
  margin: 0 auto;
  max-width: 800px;
  min-width: 800px;
}


