$main-color: #061953 !default;
$secondary-color: #fff1f1 !default;
$accent-color: #f1c81e !default;

$warning-color: #d76711 !default;
$success-color: #24880b !default;
$error-color: #b70a0a !default;
$neurtral-color: #ababab !default;

$font-color: #000000 !default;
$font-color-light: #ffffff !default;
