<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Page msg="Welcome to Your Vue.js + TypeScript App"/>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Page from '@/components/Page.vue'; // @ is an alias to /src

@Options({
  components: {
    Page,
  },
})
export default class Home extends Vue {}
</script>
